#loancal{
    width: 95%;
    height: 400px;
    background-color: rgb(73, 70, 70);
    color:rgb(238, 238, 230);
    margin: 2%;
    margin-top: 30%;
    padding: 1%;
    border-radius:10px ;
}
h1{
    margin-left:20%;
    margin-right: 20%;
    padding:2px;
    text-align: center;
    color: rgb(19, 209, 29,.8);
    border: solid 2px rgb(192, 139, 70,.5);
    border-radius: 15px;
}
input{
    width: 50%;
    height: 10%;
    background-color: rgb(10, 10, 10,.5);
    color: rgb(243, 239, 234);
    font-size: larger;
}
#payment{
    color: rgb(202, 161, 27);
    border: ridge 2px rgb(15, 4, 4);
    border-radius: 5px;
    padding:2%; 
    text-align: center;
    margin: 2%;
}